<div class="col-12 text-header h-80px shadow" style="padding-top: 96px">
  <div class="row h-100 align-items-center" style="margin-top: -94px">
    <div class="col-12">
      <div class="row align-items-center">
        <div class="col-auto">
          <div class="row">
            <div class="col">
              <a href="index.php"
                ><img
                  src="assets/img/site_logo.png"
                  alt="assets/img/site_logo.png"
                  class="h-50px"
                  style="height: 79px"
              /></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div
              class="col text-center font-weight-bold text-gray text-uppercase"
              style="margin-left: -54px"
            >
              Test &nbsp; Paid &nbsp; Exam
            </div>
          </div>
        </div>
        <div class="col-auto">
          <div class="row">
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fa-solid fa-user"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <!-- <li><a class="dropdown-item">Action</a></li> -->
                <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-8">
    <app-question></app-question>
  </div>
  <div class="col-4">
    <app-questionstatus></app-questionstatus>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-footer h-60px shadow border-top">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <div class="row align-items-center">
            <div class="col-auto fs-14 text-gray">
              Copyright &copy; 2021 <b>Coaching Select</b>
            </div>
            <div class="col fs-14 text-center text-gray">
              <b>Date & Time </b> 05 Jan 2021 | 12:30:27 PM
            </div>
            <div class="col-auto fs-14 text-gray">
              <b>Powered by</b>
              <a
                target="_blank"
                href="coachingselect.com"
                class="text-decoration-none font-weight-bold"
                >coachingselect.com</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
