.div1 {
    height: 100vh;
    align-items: center;
    background: linear-gradient(to top left, #41e3ad, #8c8bd8);
    margin-top: -5%;
}
div{
    margin: auto;
    margin-top: 5%;
    height: 602px;
    padding: 20px;
    width: 414px;
}
input{
    margin: 10px;
    font-size: 20px;
}
small{
    color: rgb(143, 41, 41);
    margin: 93px;
}
.submit{
    margin-left: 38%; margin-top: 20px;
}
.signin{
    margin-left: 89px;  color: rgb(80, 255, 173);
}
button{
    margin-left: 120px;
}